@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //Layout = null;
    int RowIndex = 1;
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />





@model Student.Models.TestPaperModels

<div class="row card m-l-5 p-b-10">
    <div class="animated fadeInDown">
        <div class="col-md-12">
            <div class="feature-classroom" tabindex="0">
                @*<h3>Assign Test Paper</h3>*@
                <div class="row">
                    @{
                        var l2 = Model.PaperList.Select(x => x).Where(x => x.TestStatus != 1);
                    }
                    @foreach (var l in l2)
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Assign Test Paper</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">Paper Title:</div>
                                            <div class="col-md-6">@l.PaperTitle</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">Total Question:</div>
                                            <div class="col-md-6">@l.TotalQuestion</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">Time Duration:</div>
                                            <div class="col-md-6">@l.TimeDuration</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">Start Date:</div>
                                            <div class="col-md-6">@l._PaperDate.ToString("dd/MM/yyyy")</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">Start Time:</div>
                                            <div class="col-md-6">@l.PaperStartTime</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">End Time:</div>
                                            <div class="col-md-6">@l.PaperEndTime</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @{
                                                if (l.IsExpired == 1)
                                                {
                                                    <a href="#" class="btn btn-warning waves-effect waves-effect">Test Expired</a>
                                                    @*<a href="#" onclick="OpenTestPaper('@l.EncodedPaperID','@l.EncodedStudentID')" class="btn btn-success waves-effect waves-effect">Start Test</a>*@
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        RowIndex++;
                    }
                    @{
                        if (RowIndex == 1)
                        {
                            <div class="row">
                                <div align="center"><b>No Record Found</b></div>
                            </div>
                        }
                    }
                </div>



            </div>
        </div>
    </div>
</div>
<script>
    function OpenTestPaper(pid, sid) {

        var params = 'width=' + screen.availWidth + ', height=' + screen.availHeight
            + ', top=0, left=0'
            + ',toolbar=no,scrollbars=no,status=no,menubar=no;fullscreen="yes"';
        var ss = pid + '?SID=' + sid;
         window.open("@Session["ExamPanelURL"]//Exam/ExamInstruction/" + ss, params);
       // window.open("http://e-exam.in/Exam/ExamInstruction/" + ss, params);
    }
    function GoOutFullscreen() {
      
        //  rfs.call(el);
        var elem = document.body; // Make the body go full screen.
        requestFullScreen(elem);
        // document.documentElement.requestFullscreen();
    }
    function requestFullScreen(element) {
        // Supports most browsers and their versions.
        var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

        if (requestMethod) { // Native full screen.
            requestMethod.call(element);
        } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
    }


    $(document).ready(function () {
               setTimeout(function(){
           window.location.reload(1);
        }, 120000);
    })

</script>
