@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Student.Models.ProfileModels


<script>
    function uploadfile() {
        console.log('sadasd');
        $('#UploadImg').click();
    }
    function ShowImagePreview(input) {
        console.log('asdsssssssss');
        if (!(/\.(jpg|jpeg|png|jfif)$/i).test(input.value)) {
            alert('You must select an image file only and file must be .jpg,.jpeg,.png,.jfif types');
            return false;
        }
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgPreview').prop('src', e.target.result);
                $('#Profile').prop('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
           
            var fileUpload = $("#UploadImg").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('ID', $("#UserID").val());

            $.ajax({
                //url: '/Home/UploadFiles',
                url:'@Url.Action("UploadFiles")',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

    }

    function btnSaveDiss()
    {
        var _Data = {
            'Diss': $("#Discription").val(),
            'ID': $("#UserID").val(),
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateDiscription")',
            data: _Data, // serializes the form's elements.
            success: function (data) {
                alert('Data saved successfully.'); // show response from the php script.
                location.reload();
            }
        });


    }

    function btnSaveBasic() {

        var _Data = {
            'FirstName': $("#FirstName").val(),
            'LastName': $("#LastName").val(),
            'InstituteName': $("#InstituteName").val(),
            'Gender': $("#Gender").val(),
            'ID': $("#UserID").val(),
        };


        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateDetails")',
            data: _Data, // serializes the form's elements.
            success: function (data) {
                alert('Data saved successfully.'); // show response from the php script.
                location.reload();
            }
        });


    }

    function btnSaveSocial()
    {
        var _Data = {
            'Mobile': $("#MobilePhone").val(),
            'Email': $("#Email").val(),
            'Location': $("#Address").val(),
            'Linkdin': $("#LinkedIn").val(),
            'Facebook': $("#Facebook").val(),
            'Twitter': $("#Twitter").val(),
            'Skype': $("#Skyup").val(),
            'id': $("#UserID").val(),
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateContactDetails")',
            data: _Data, // serializes the form's elements.
            success: function (data) {
                alert('Data saved successfully.'); // show response from the php script.
                location.reload();
            }
        });




    }

</script>
@Html.HiddenFor(m=>m.UserID)

<input data-val="true" data-val-number="The field MemberId must be a number." data-val-required="The MemberId field is required." id="MemberId" name="MemberId" type="hidden" value="10843">
<div class="card" id="profile-main">
    <div class="pm-overview c-overflow" tabindex="1" style="overflow: hidden; outline: none;">
        <div class="pmo-pic">
            <div class="p-relative">
                <div id="myProgress" class="p-t-30" style="display: none">
                    <div id="myBar">
                        <div id="labelno">10%</div>
                    </div>
                </div>
                <a href="#" id="picarea">
                    @if (!string.IsNullOrEmpty(Model.setLogo))
                    {
                    <img id="imgPreview" src="@Url.Content("~/")@Model.setLogo" />
                    }
                    else
                    {
                    <img id="imgPreview" src="@Url.Content("~/images/user_img.png")">
                    }
                </a>

                <div class="dropdown pmop-message" id="Imageedit">
                    <a data-toggle="dropdown" href="#" class="btn bgm-white btn-float z-depth-1 waves-effect waves-circle waves-float waves-effect waves-circle waves-float" title="Change Image">
                        <i class="zmdi zmdi-camera"></i>
                    </a>

                    <div class="dropdown-menu">
                        <a href="#" class="pmop-edit">
                            @*<input type="file" id="UploadImg" style="background-color: transparent; color: red">*@
                        </a>
                       <br />
                        <div class="col-md-6 text-center">
                            <a onclick="uploadfile()" style="text-decoration:underline;cursor:pointer">Upload Profile</a>
                            <div style="display:none">
                                <input type="file" id="UploadImg" style="background-color: transparent; color: red" accept = "image/jpg,image/png,image/jpeg" onchange="ShowImagePreview(this);">
                                @Html.TextBox("orgLogo", new { @type = "file", @accept = "image/jpg,image/png,image/jpeg", @class = "form-control", @onchange = "ShowImagePreview(this);" })
                            </div>
                        </div>
                        @*<input type="button" id="btnUpload" value="Upload Files" class="btn btn-primary btn-sm" />*@  
                    </div>
                    
                </div>


            </div>


            <div class="pmo-stat">
                <h2 class="m-0 c-white">@Model.FirstName </h2>
                <small><span id="DesignationDis"></span></small>
            </div>
        </div>

        <div class="pmo-block pmo-contact hidden-xs">
            <h2>Social Contact</h2>

            <ul>
                <li>
                    <i class="zmdi zmdi-phone"></i><span id="disContactNo">+91-@Model.MobilePhone</span>
                </li>
                <li><i class="zmdi zmdi-email"></i><span id="disEmail">@Model.Email</span></li>
            </ul>
        </div>

    </div>
    <div class="pm-body clearfix">

        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-equalizer m-r-5"></i>Profile</h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a data-pmb-action="edit" href="#">Edit</a>


                    </li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view" id="bview">
                    <span style="color: #bbb5b5;white-space:pre-line!important">
                    @Model.Discription
                    </span>
                </div>

                <div class="pmbb-edit" id="bedit">
                    <div class="fg-line">
                        @Html.TextAreaFor(m => m.Discription, new { @class = "form-control", @placeholder = "Summary...", @rows = "3" })
                    </div>
                    <div class="m-t-10">
                        <button class="btn btn-primary btn-sm waves-effect waves-effect" id="btnBio" onclick="btnSaveDiss()">Save</button>
                        <button data-pmb-action="reset" class="btn btn-link btn-sm waves-effect waves-effect">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-account m-r-5"></i>Basic Information</h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a data-pmb-action="edit" href="#">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view" id="basview">
                    <dl class="dl-horizontal">
                        <dt>First Name:</dt>
                        <dd><span id="spanName">@Model.FirstName</span></dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Last Name;</dt>
                        <dd><span id="spanLastName">@Model.LastName</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Institute Name</dt>
                        <dd><span id="spanCompany">@Model.InstituteName    </span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Gender</dt>
                        <dd><span id="spanGenderName">@Model.Gender</span></dd>

                    </dl>
                </div>

                <div class="pmbb-edit" id="basedit">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">First Name:</dt>
                        <dd>
                            <div class="fg-line">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

                            </div>

                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Last Name:</dt>
                        <dd>
                            <div class="fg-line">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Company</dt>
                        <dd>
                            <div class="fg-line">
                                @Html.TextBoxFor(m => m.InstituteName, new { @class = "form-control",@readonly=true })
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Gender</dt>
                        <dd>
                            <div class="fg-line">
                                @Html.DropDownListFor(m => m.Gender, Model.GenderList, "Select", new { @class = "form-control" })

                            </div>
                        </dd>
                    </dl>
                    <div class="m-t-30">
                        <button class="btn btn-primary btn-sm waves-effect waves-effect" id="btnBasic" onclick="btnSaveBasic()">Save</button>
                        <button data-pmb-action="reset" class="btn btn-link btn-sm waves-effect waves-effect">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-phone m-r-5"></i>Contact Information</h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a data-pmb-action="edit" href="#">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view" id="conview">
                    <dl class="dl-horizontal">
                        <dt>Mobile Phone</dt>
                        <dd><span id="spanContactNo">+91-@Model.MobilePhone</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Email Address</dt>
                        <dd><span id="spanEmail">@Model.Email</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Location</dt>
                        <dd>
                            <span id="spanCurrentLocation">@Model.Address</span>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>LinkedIn</dt>
                        <dd><span id="spanLinkedIn">@Model.LinkedIn</span></dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Facebook</dt>
                        <dd><span id="spanFacebook">@Model.Facebook</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Twitter</dt>
                        <dd><span id="spanTwitter">@Model.Twitter</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Skype</dt>
                        <dd><span id="spanSkype">@Model.Skyup</span></dd>
                    </dl>

                </div>


                <div class="pmbb-edit" id="conedit">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Mobile Phone</dt>
                        <dd>
                            <div class="fg-line">

                                @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control" })
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Email Address</dt>
                        <dd>
                            <div class="fg-line">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@readonly=true })
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Location</dt>
                        <dd>
                            <div class="fg-line">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>LinkedIn</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.LinkedIn, new { @class = "form-control" })
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Facebook</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Facebook, new { @class = "form-control" })
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Twitter</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Skype</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Skyup, new { @class = "form-control" })
                        </dd>
                    </dl>

                    <div class="m-t-30">
                        <button class="btn btn-primary btn-sm waves-effect waves-effect" id="btnContact" onclick="btnSaveSocial()">Save</button>
                        <button data-pmb-action="reset" class="btn btn-link btn-sm waves-effect waves-effect">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



